﻿@font-face {
		font-family: 'BebasRegular';
		src: url('fonts/BebasRegular.eot?#iefix') format('embedded-opentype'),
			url('fonts/BebasRegular.woff') format('woff'),
			url('fonts/BebasRegular.ttf') format('truetype');
		font-style: normal;
		font-weight: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), 
		url('fonts/Gilroylight.woff2') format('woff2'), 
		url('fonts/Gilroylight.woff') format('woff'), 
		url('fonts/Gilroylight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
			/*---------------------------------АНИМАЦИЯ-----------------------------*/
@keyframes move_from_top{
	0%{transform:translateY(-500px);}
	100%{
		opacity:1;
		transform:translateY(0px);
		}
}
@keyframes move_from_bottom{
	0%{
		transform:translateY(100px);
		}
	100%{
		opacity:1;
		transform:translateY(0px);
		}
}
@keyframes move_from_right{
	0%{
		transform:translateX(400px);
		}
	100%{
		opacity:1;
		transform:translateY(0px);
		}
}
		/*---------------------------------КОНЕЦ АНИМАЦИИ-----------------------------*/
body{
	font-family: Gilroy;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .02em;
    color: white;
    background-color: #1e1630;
	margin:0;
	height:100%;
	width:100%;
}
a{
	text-decoration:none;
}
a:-webkit-any-link {
    color:inherit;
    cursor: pointer;
    text-decoration:none;
}
								/*-------ОФОРМЛЕНИЕ ХЕДЕРА----------*/
.header_items{
	height:85px;
	display:flex;
	justify-content:space-between;
	padding:0px 50px;
	align-items:flex-end;
}
.header_logo{								/*Логотип*/
	width:100px;
	height:55px;
}
.i-icon{
	width:inherit;
	height:inherit;
}
.header_menu{					           /*Контакты и прочее*/
	display:flex;
	align-items:center;
	justify-content:space-between;
	height:50px;
}
.header_feedback_icon{						/*Адаптивная иконка*/
	display:none;
	width:30px;
	height:30px;
}
.header_feedback{							/*Кнопка заявки*/
	font-weight:bold;
	margin-right:28px;
	margin-left:50px;
	padding:10px 20px;
	border:2px solid transparent;
	font-size: 14px;
    background-color: #140c24;
    border-radius: 25px;
	cursor:pointer;
	color:white;
	height: 48px;
    padding: 10px 20px;
	outline:none;
	transition-duration:0.5s;
}
.header_feedback:hover{						/*Ховер эффект кнопки*/
	background-color:red;
}
.header_btn{								/*Бургер*/
	position:relative;
	cursor:pointer;
	background-color:transparent;
	width:50px;
	outline:none;
    border: none;
	height:50px;
}
.header_btn>span{
	position: absolute;
    right: 0;
    height: 2px;
    width: 28px;
    background-color: #de000f;
	transition-duration:0.3s;
}
.header_btn>span:first-child{
	top:17px;
}
.header_btn>span:nth-child(2){
	top: 0;
	margin:auto;
    bottom: 0;
}
.header_btn>span:last-child{
	bottom: 17px;
    width: 23px;
}
.header_btn:hover>span:first-child{		/*Ховер эффект бургера*/
	width:23px;
}
.header_btn:hover>span:last-child{
	width:28px;
}
.header_span_tel{
	font-weight:bold;
	font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
										/*-------КОНЕЦ ОФОРМЛЕНИЯ ХЕДЕРА---------*/
										/*-------ОФОРМЛЕНИЕ БЛОКА MAIN-----------*/
.container{
	padding:0px 50px;
	padding-bottom:50px;
}
/*-------------------TOP INFO SECTION--------------------*/
.top_info_section_items{
	margin-top:60px;
	display:flex;
	justify-content:space-between;
}	
.top_info_section_item_left{		/*Оформление левой части*/
	width:50%;

}
.item_left_title{
	margin-bottom: 30px;
}
.item_left_title h1 span{
	font-weight:500;
	display:block;
	font-size: 60px;
	font-family: BebasRegular;
	text-transform:uppercase;
    letter-spacing: .03em;
}
.fact{
	color:red;
}
.item_left_description{
	color:#c2c1d2;
	font-size:15px;
	font-weight:bold;
}
.top_info_section_item_right{		/*Оформление правой части*/
	width:500px;
	height:276px;
	padding-left:45px;
	border-left:1px solid #5D5468;
	margin-left:50px;
	box-sizing: border-box;
}

.slide-1,.slide-2{					/*Оформление слайдера*/
	position:absolute;
	top:0;
	opacity:0;
    transition-duration: 800ms;
}
.rad_but{
	display:none;
}
.slider_nav{
	position:absolute;
	bottom:10px;
}
.slider_nav label{
	font-weight:bold;
	font-size: 14px;
    color: #9796AA;
    cursor: pointer;
    padding: 10px;
	transition: ease .3s;
}
.slider{
	height:inherit;
	position:relative;
}
.slide_text{
	line-height: 1.4em;
	font-size:24px;
	font-weight:bold;
}
.slide_date{
	margin-top:20px;
	margin-bottom: 50px;
	font-weight:bold;
	margin-bottom: 20px;
    font-size: 14px;
    color: #9796AA;
}
.rad_but_1:checked~.slider_nav>.label-1,.rad_but_2:checked~.slider_nav>.label-2{     /*Анимация и переходы*/
	color:white;
}
.rad_but_1:checked~.slide-1,.rad_but_2:checked~.slide-2{
	opacity:1;
}
															/*Конец оформления слайдера*/
/*------------------КОНЕЦ TOP INFO SECTION----------------------*/

/*------------------НАЧАЛО CLIENT SECTION----------------------*/
.client_section{
	margin-top:80px;
}
.client_section_title{						/*Заголовок*/
	text-transform:uppercase;
	font-family:Gilroy;
	font-weight:bold;
	margin:0;
	margin-bottom:30px;
	font-size:15px;
	color: #c2c1d2;
	letter-spacing: .02em;
}
.client_section_clients{					/*Клиенты*/
	list-style-type: none;
	display:flex;
	justify-content:space-around;
    margin: 0;
    padding: 0;
	height:inherit;
}
.client_scroll{
	position:relative;
	width:100%;
	height:40px;
}
.client_item{
	display:block;
	margin-right:60px;
	width:16%;
}
.link_client_item{
	margin:0 auto;
	display:block;
	width:100%;
	height:100%;
	transition:.2s;
}
.link_client_item svg{							/*SVG элемент*/
	margin:0 auto;
	max-height:100%;
	max-width:100%;
	transition:.2s;
}
.client_item:hover .link_client_item{			/*Ховер эффект*/
	width:95%;
	height:95%;
}
.client_item:hover .link_client_item svg{
	opacity:0.3;
}
.client_item:last-of-type{
	margin-right:0px;
}
/*------------------КОНЕЦ CLIENT SECTION----------------------*/
/*------------------НАЧАЛО ACTIVITY SECTION-------------------*/
.activity_section{
	margin-top:150px;
	color:white;
}
.activity_section_items_wrap{
	display:flex;
	justify-content:space-around;
	height:400px;
	width:70%;
	margin-right:120px;
}
.activity_section_title{							/*Заголовок*/
	text-transform:uppercase;
	font-family:Gilroy;
	font-weight:bold;
	margin:0;
	margin-bottom:30px;
	font-size:15px;
	color: #c2c1d2;
	letter-spacing: .02em;
}
.activity_section_title a{
	color:#c2c1d2;
	border-bottom: 1px solid;
    padding-bottom: 1px;
    transition: ease .3s;
}
.activity_section_title a:hover{				
	border-bottom:1px solid transparent;
}
.activity_section_items{
	display:flex;
}
.activity_section_item{								/*Колонки*/
	display:flex;
	padding: 50px 55px;
	box-sizing:border-box;
	flex-direction:column;
	flex-basis:500px;
    border: 1px solid #3B3B46;
    margin-right: 35px;
	height:inherit;
	transition:0.4s ease;
}
.activity_section_item:last-of-type{
	margin-right:0px;
}
.activity_item_title{								/*Заголовок колонки*/
	color:white;
	text-transform:uppercase;
	font-family: 'BebasRegular';
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 30px;
    line-height: 1.1em;
}
.activity_item_text{									/*Текст колонок*/
	text-align:left;
	margin-bottom: 10px;
    line-height: 1.5em;
	color: #c2c1d2;
	font-weight:bold;
}
.activity_item_more{									/*Подробнее*/
	margin-top:auto;
    color: #ffffff;
	font-weight:bold;
}
.item_more_arrow{										/*Стрелочка*/
	margin-left: 10px;
	display: inline-block;
    vertical-align: middle;
	font-size: 1.3em;
	transition: ease .3s;
}
.activity_item_more:hover .item_more_arrow{					/*ховер стрелочки*/
	margin-left:20px;
}
.activity_item_more	svg{
    width: 1em;
    height: 1em;
    fill: red;
}
.activity_section_item:hover{
    border:1px solid #877D9B;
}
.activity_section_item_right{						/*Правая колонка*/
	margin:auto 0;
	min-width:30%;
	margin-left:auto;
	display:flex;
	flex-direction:column;
}
.item_right_option_title{								/*Заголовки*/
	font-family: 'BebasRegular';
    font-size: 19px;
	color:white;
    font-weight: bold;
	flex-basis:auto;
    letter-spacing: .03em;
	margin-right: 40px;
    line-height: 1.2em;
	text-transform:uppercase;
	transition: ease .3s;

}
.item_right_more_arrow{								 /*Стрелочка*/
	display:inline-block;
	vertical-align:middle;
	flex-basis:auto;
}
.item_right_more_arrow svg{
	display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
	fill:red;
}
.activity_item_right_option{
	display:flex;
	margin-bottom:67px;
}
.activity_item_right_option:last-of-type{
	margin-bottom:0px;
}
.item_right_option_title:hover{							/*Ховер стрелочки*/
	margin-right:50px;
}
/*------------------КОНЕЦ ACTIVITY SECTION-------------------*/
/*------------------НАЧАЛО PROJECTS SECTION-------------------*/
.projects_section{
	margin-top:200px;
}
.projects_section_title{							/*Заголовок*/
	text-transform:uppercase;
	font-family:Gilroy;
	font-weight:bold;
	margin:0;
	margin-bottom:30px;
	font-size:15px;
	color: #c2c1d2;
	letter-spacing: .02em;
}
.projects_section_title a{
	color:#c2c1d2;
	border-bottom: 1px solid;
    padding-bottom: 1px;
    transition: ease .3s;
}
.projects_section_title a:hover{				
	border-bottom:1px solid transparent;
}
.projects{												/*Проекты*/
	display:flex;
	flex-wrap:wrap;
}
.project_item{
	font-family:Gilroy;
	box-sizing:border-box;
	position:relative;
	border: 1px solid #3B3B46;
	width: calc(33.333% - 20px);
	margin-bottom:20px;
	margin-left:20px;
	padding:50px 20px 20px;
	height:348px;
	transition: ease .3s;
}
.project_item:hover{
    border:1px solid #877D9B;
}
.project-1{													/*Проект 1*/
	padding: 30px 40px;
    background-color: #de000f;
	display:flex;
	width: calc(66.666% - 20px);
}
.project-1_img{
	text-align:center;
	width:50%;
}
.project-1_img img{
	width:auto;
	height:100%;
    margin: auto;
}
.project-1_info{
	width:50%;
	padding-top:15px;
	box-sizing:border-box;
}
.project-1_text{
	font-size: 15px;
    font-weight:bold;
	margin-bottom:42px;
    letter-spacing: .02em;
	line-height: 1.5em;
}
.project-1_link{												/*Проект 1 стрелочка*/
	font-weight: bolder;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #140c24;
}
.project-1_arrow svg{
	width:inherit;
	height:inherit;
}
.project-1_arrow{
	margin-left:5px;
	display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}
.project-1,.project-3{
	margin-left:0px;
}
.project-1_title{
	font-weight:bold;
	margin-bottom:26px;
	font-size: 20px;
}
.project_item>img{								/*Фон проектов*/
	max-width: 100%;
    max-height: 100%;
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: ease .6s;
    z-index: 2;
}
.project-2_title,.project-3_title{				/*Проекты 2 3 4 5*/
	text-align:center;
	font-family:Gilroy;
	font-size:68px;
	font-weight:bolder;
}
.project-4_title,.project-5_title{
	text-align:center;
	font-family:Gilroy;
	font-size:68px;
	letter-spacing:0.3px;
	font-weight:bolder;
}
.project-2_text,.project-3_text,.project-4_text,.project-5_text{
	position: absolute;
	font-weight:bold;
	text-align:center;
	font-size:15px;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 3;
    color: #ffffff;
}
/*------------------КОНЕЦ PROJECTS SECTION-------------------*/
/*------------------НАЧАЛО ACHIVEMENTS SECTION-------------------*/
.achivements_section{
	margin-top:200px;
}
.achivements_section_title{						/*Заголовок*/
	text-transform:uppercase;
	font-family:Gilroy;
	font-weight:bold;
	margin:0;
	margin-bottom:30px;
	font-size:15px;
	color: #c2c1d2;
	letter-spacing: .02em;
}
.achivements_items{								/*Оформление достижений*/
	display:flex;
	justify-content:space-between;
}
.achivement_items_left{
	margin-right: 210px;
    min-width: 455px;
	width: calc(33.333% - 210px);
}
.achivement_item_left{							/*Левая колонка*/
	display:flex;
	flex-direction:column;
	box-sizing:border-box;
	justify-content:center;
	align-items:center;
	width: 100%;
	min-height:520px;
	border: 1px solid #3b3b46;
	padding:40px;
}
.achivement_item_left_info{
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
}
.achivement_item_left_number{
	margin-top:auto;
	margin-bottom: 16px;
    text-align: center;
	font-size: 15.2em;
    line-height: .8em;
	font-weight:bolder;
}
.achivement_item_left_title{
	line-height: 1.3em;
    text-transform: uppercase;
	font-size:25px;
	font-weight:bolder;
	display: inline-block;
    border-bottom: 3px solid #de000f;
    margin-bottom: 27px;
}
.achivement_item_left_text{
	color: #c2c1d2;
	text-align: center;
	line-height:1.5em;
	letter-spacing: .02em;
	margin-bottom:auto;
}
.achivement_item_left_img{					/*Картинка*/
	height: 35px;
	align-self:flex-start;
	margin-right:auto;
    margin-bottom: 15px;
}
.achivement_item_left_img svg{
	height:100%;
}
.achivement_items_right{							/*Правые колонки*/
	display:flex;
	justify-content:space-around;
	margin-left:-115px;
}
.achivement_item_right_img{
	height: 35px;
    margin-bottom: 15px;
}
.achivement_item_right_img svg{
	height:100%;
}
.achivement_item_right{
	width: calc(33.333% - 115px);
    margin-left: 115px;
}
.achivement_item_right_title{
	font-weight: bolder;
    font-size: 20px;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-bottom: 18px;
    text-align: left;
}
.achivement_item_right_text{
	color: #c2c1d2;
	text-align:left;
	font-weight:bold;
	line-height: 1.5em;
	letter-spacing:.02em;
	font-size:15px;
}
.first_achive_item{
	margin-bottom: 80px;
}
/*------------------КОНЕЦ PROJECTS SECTION-------------------*/
/*-------------------ABOUT SECTION--------------------*/
.about-container{										/*Контейнер*/
	background-color:#e9e7ec;
	padding-top:110px;
	padding-bottom:110px;
	border-bottom: 1px solid #d3cfd7;
	padding-top:35px;
}
.about_section_title{						/*Заголовок*/
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	margin-bottom:30px;
	font-size:15px;
	color: #140c24;
	letter-spacing: .02em;
}
.about_section_title a{
	color:#140c24;
	border-bottom: 1px solid;
    padding-bottom: 1px;
    transition: ease .3s;
}
.about_section_title a:hover{
	border-bottom: 1px solid transparent;
}
.about_section{
	display:flex;
	display:space-between;
}
.about_item_left{										/*Левая колонка*/
	width: 55%;
}
.about_item_title-1{								/*Заголовок*/
	margin-bottom: 30px;
	font-size: 45px;
	text-transform:uppercase;
	font-weight:bolder;
	color: #140c24;
	line-height: 1.3em;
}
.about_item_left_text{								/*Текст*/
	color: #140c24;
	font-weight:bold;
	line-height: 1.5em;
}
.about_item_left .about_item_left_more{								/*Подробнее*/
	display: flex;
	align-items:center;
	font-weight:bold;
    font-size: 15px;
    color: #140c24;
}	
.item_more_arrow{											/*Ховер стрелочки*/
	transition: .3s ease;
	margin-left:10px;
}
.about_item_left_more:hover .item_more_arrow{											/*Ховер стрелочки*/
	margin-left:20px;
}
.about_item_left_more .item_more_arrow svg{
	width: 1em;
    height: 1em;
	fill:red;
	vertical-align: middle;
}
.about_item_left_video{								/*видео*/
	position:relative;
	background-repeat:no-repeat;
	background-position:50%;
	background-size: cover;
	background-image:url("img/video_1.jpg");
	height: 355px;
    margin: 40px 0;
    margin-top: 30px;
	width:100%;
	max-width:750px;
	cursor:pointer;
}
.video_text{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	z-index:1;
}
.video_text svg{
	display:inline-block;
	vertical-align: middle;
    font-size: 12em;
	z-index:1;
	height:150px;
}
.about_item_left_video:hover .shadow{			/*Ховер эффект видео*/
	background-color:rgba(0,0,0,0);
}
.about_item_right{										/*Правая колонка*/
	width: 45%;
	display: flex;
    flex-direction: column;
	align-items: flex-end;
	margin-left:60px;
}
.about_item_title-2{								/*Заголовок*/
	font-weight: bolder;
    text-transform: uppercase;
    color: #140c24;
	font-size:35px;
	margin-bottom: 25px;
    line-height: 1.3em;
	width: 100%;
    max-width: 365px;
}
.about_item_right_news{
	overflow:hidden;
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	box-sizing:border-box;
    height: 335px;
	position:relative;
    width:100%;
    max-width: 365px;
    padding: 30px 25px;
    color: #fff;
}
.about_item_right_news:first-of-type{
	margin-bottom: 30px;
}
.news_day{
	font-size: 25px;
    margin-bottom: 7px;
	z-index:1;
}
.news_month{
	font-size: 14px;
    margin-bottom: 40px;
	z-index:1;
}
.news_title{
	height: 130px;
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.3em;
	z-index:1;
}
.views_icon{
	width: 1em;
    height: 1em;
}
.views_number{
	font-size: 12px;
    margin-left: 7px;
}
.news_views{
	display:flex;
	align-items:center;
	margin-top: auto;
	z-index:1;
}
.about_news_first{						/*Картинки*/
	background-repeat:no-repeat;
	background-position:50%;
	background-size: cover;
	background-image:url("img/about_1.jpg");
}
.about_news_second{
	background-repeat:no-repeat;
	background-position:50%;
	background-size: cover;
	background-image:url("img/about_2.jpg");
}
.shadow{									/*Тень*/
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	background-color:rgba(0,0,0,0.3);
	transition: .3s ease;
}
.about_item_right_news:hover .shadow{			/*Ховер эффект картинок*/
	background-color:rgba(0,0,0,0);
}
/*-------------------КОНЕЦ ABOUT SECTION--------------------*/
										/*-------КОНЕЦ ОФОРМЛЕНИЕ БЛОКА MAIN-----------*/
										/*-------ОФОРМЛЕНИЕ БЛОКА FOOTER-----------*/
.footer-container{
	background-color:#e9e7ec;
	padding-top:35px;
	padding-bottom:35px;
}		
.section_footer{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.footer_contacts{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.footer_item_title{							/*Заголовок*/
	color: #7a7a8f;
	font-size:18px;
	margin-bottom:15px;
	font-weight:bold;
}
.footer_item:not(:last-of-type){
	margin-right:200px;
}
.footer_item>a{
	display:block;
	font-size: 16px;
	font-weight:bolder;
	text-transform:uppercase;
	color: #140c24;
}
.social_buttons a{							/*Социальные кнопки*/
	display:inline-block;
	width:24px;
	height:24px;
}
.social_buttons a svg{
	fill:black;
	transition: .3s ease;
}
.social_buttons a:hover svg{
	fill:red;
}
.social_buttons a:not(:last-of-type){
	margin-right:10px;
}
.footer_feedback{							/*Кнопка*/
	font-weight:400;
	height: 52px;
	border:0px;
	text-align:center;
	box-sizing:border-box;
    padding: 17px 34px;
	white-space:nowrap;
    color: #fff;
    background-color: #DE0008;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
	max-width:201px;
	outline:none;
	box-shadow: 0 12px 60px -10px #de000f;
    transition: .3s ease;
    border-radius: 30px;
}		
.footer_feedback:hover{
	box-shadow:0 12px 60px -10px transparent;
}						
										/*-------КОНЕЦ ОФОРМЛЕНИЕ БЛОКА FOOTER-----------*/


/*------------------------------------------------------АДАПТАЦИЯ САЙТА------------------------------------------------------*/
@media (max-width:1780px){							/*--------------------1780px------------------*/
													/*-------------projects_section-----------------*/
	.project_item{
		height:475px;
	}
	.achivement_item_left_number{
		height:182px;
	}
	
}
@media (max-width:1600px){							/*--------------------1600px------------------*/
													/*-------------projects_section-----------------*/
	.project_item{
		height:415px;
	}
	.project-2_title,.project-3_title{
		font-size: 58px;
	}
	.project-4_title,.project-5_title{
		font-size: 46px;
	}
													/*-------------achivements_section-----------------*/
	.achivement_items_left{								/*Левая колонка*/
		margin-right:100px;
		width: calc(33.333% - 100px);
	}
	.achivement_items_right{							/*Правые колонки*/
		margin-left:-100px;
	}
	.achivement_item_right{
		width: calc(33.333% - 100px);
		margin-left: 100px;
	}
}
@media (max-width:1440px){							/*--------------------1440px------------------*/
													/*-------------projects_section-----------------*/
	.project_item{
		height:365px;
		padding:50px 20px 20px;
	}
	.project-2_title,.project-3_title{
		font-size: 54px;
	}
	.project-4_title,.project-5_title{
		font-size: 40px;
	}
													/*-------------achivements_section-----------------*/
	.achivement_items_left{								/*Левые колонки*/
		margin-right: 70px;
		min-width: 290px;
		width: calc(33.333% - 70px);
	}
	.achivement_items_right{							/*Правые колонки*/
		margin-left:-70px;
	}
}
@media (max-width: 1366px){							/*--------------------1366px------------------*/
	.header_span_tel{								/*Номер телефона*/
		font-size: 16px;
	}
	.header_feedback_text{							/*Текст кнопки*/
		font-size:13px;
	}					
											/*-------------top_info_section-----------------*/
	.slide_text{									/*Текст слайдов*/
		font-size:24px;
	}
											/*-------------activity_section-----------------*/
	.activity_section_item{						/*Колонки*/
		padding: 35px;
		flex-basis:100%;
		flex-grow:0;
		flex-shrink:1;
	}
	.activity_section_items_wrap{
		height:380px;
	}
	.activity_item_title{
		font-size: 38px;
	}
											/*-------------projects_section-----------------*/
	.project_item{
		height:348px;
	}
	.project-2_title,.project-3_title{
		font-size: 48px;
	}
	.project-4_title,.project-5_title{
		font-size: 34px;
	}
	.project-1{
		padding:30px 40px;
	}
													/*-------------achivements_section-----------------*/
	.achivement_items_left{
		margin-right: 80px;
		width: calc(33.333% - 80px);
	}
	.achivement_item_left_number{
		font-size: 10.2em;
		line-height: .75em;
		height:182px;
	}
	.achivement_item_right{
		width: calc(33.333% - 70px);
		margin-left: 70px;
	}
												/*-------------about_section-----------------*/
	.about_item_title-1{								/*Заголовок*/
	margin-bottom: 20px;
	font-size: 40px;
	}
	.about_item_title-2{
		font-size: 30px;
	}
	.about_item_left_video{								/*Видео*/
		height:325px;
	}
												/*-------------footer_section-----------------*/
	.footer_item:not(:last-of-type){
		margin-right:70px;
	}
	.social_buttons a{							/*Социальные кнопки*/
		width:21px;
		height:21px;
	}
	.footer_item_title{							/*Заголовок*/
		font-size:15px;
	}
}
@media (max-width:1280px){					/*-------------------1280px---------------*/
	.project_item{
		height: 320px;
	}
	.project-2_title,.project-3_title{
		font-size: 36px;
	}
	.project-4_title,.project-5_title{
		font-size: 36px;
	}
	.project-1_link{
		display:none;
	}
}
							/*------------------------------------АНИМАЦИЯ----------------------------------------*/
@media (min-width:1100px){
	.top_info_section_item_right{
	opacity:0;
	animation:move_from_right 0.8s ease-out 0.6s;
	-webkit-animation:move_from_right 0.8s ease-out 0.6s;
	-moz-animation:move_from_right 0.8s ease-out 0.6s;
	-o-animation:move_from_right 0.8s ease-out 0.6s;
	animation-fill-mode:forwards;
}
.item_left_description{
	opacity:0;
	animation:move_from_bottom 1s ease-out 1s;
	-webkit-animation:move_from_bottom 1s ease-out 1s;
	-moz-animation:move_from_bottom 1s ease-out 1s;
	-o-animation:move_from_bottom 1s ease-out 1s;
	animation-fill-mode:forwards;
}
.client_section{
	opacity:0;
	animation:move_from_bottom 1.1s ease-out 1.4s;
	-webkit-animation:move_from_bottom 1.1s ease-out 1.4s;
	-moz-animation:move_from_bottom 1.1s ease-out 1.4s;
	-o-animation:move_from_bottom 1.1s ease-out 1.4s;
	animation-fill-mode:forwards;
}
header{
	opacity:0;
	animation:move_from_top 0.9s ease-out 1.4s;
	-webkit-animation:move_from_top 0.9s ease-out 1.4s;
	-moz-animation:move_from_top 0.9s ease-out 1.4s;
	-o-animation:move_from_top 0.9s ease-out 1.4s;
	animation-fill-mode:forwards;
}
.item_left_title h1 span:first-of-type{
	opacity:0;
	animation:move_from_top 0.8s ease-out 0.6s;
	-webkit-animation:move_from_top 0.8s ease-out 0.6s;
	-o-animation:move_from_top 0.8s ease-out 0.6s;
	-moz-animation:move_from_top 0.8s ease-out 0.6s;
	animation-fill-mode:forwards;
}
.item_left_title h1 span:nth-of-type(2){
	opacity:0;
	animation:move_from_top 0.8s ease-out 0.3s;
	-webkit-animation:move_from_top 0.8s ease-out 0.3s;
	-o-animation:move_from_top 0.8s ease-out 0.3s;
	-moz-animation:move_from_top 0.8s ease-out 0.3s;
	animation-fill-mode:forwards;
}
.item_left_title h1 span:last-of-type{
	opacity:0;
	animation:move_from_top 0.8s ease-out 0s;
	-webkit-animation:move_from_top 0.8s ease-out 0s;
	-o-animation:move_from_top 0.8s ease-out 0s;
	-moz-animation:move_from_top 0.8s ease-out 0s;
	animation-fill-mode:forwards;
}
}
									/*------------------------------------КОНЕЦ АНИМАЦИИ----------------------------------------*/
@media (min-width:1170px){							/*-------------------1170px---------------*/
											/*------------------top_info_section------------------*/
	.slide_text{					
		font-size:20px;
	}
	.slide_date{
		margin-bottom: 40px;
	}
}
@media (max-width:1170px){							/*-------------------1170px---------------*/
													/*----------top_info_section----------*/
	.top_info_section_item_right{					/*Размер правой части*/
		width:400px;
	}
	.item_left_title h1 span{						/*Размер заголовка*/
		font-size:80px;
	}
													/*----------client_section----------*/
	.client_scroll{
		height:50px;
	}
													/*----------activity_section-----------------*/
	.activity_item_right_option{
		margin-bottom: 40px;
	}
	.activity_item_right_option:last-of-type{
		margin-bottom: 0px;
	}
														/*-------------projects_section-----------------*/
	.project_item{
		height: 304px;
	}
	.project-4_title,.project-5_title{
		font-size: 28px;
	}
														/*-------------achivements_section-----------------*/
	.achivement_items_right{							/*Правые колонки*/
		margin-left:-50px;
		flex-wrap:wrap;
	}
	.achivement_item_right{
		display:flex;
		width:100%;
		justify-content:space-between;
		margin-left:-50px;
		margin-bottom: 80px;
	}
	.first_achive_item,.second_achive_item{
		width: calc(50% - 50px);
		margin-left: 50px;
	}
}
@media (max-width:1024px){							/*--------------------1024px-----------------*/
													/*-------------------ХЕДЕР-----------------------*/
	.header_logo{									/*Логотип*/
		width:80px;
	}
	.header_feedback_text{							/*Текст кнопки заявки*/
		display:none;
	}
	.header_link_tel{								/*Телефон*/
		display:none;
	}
	.header_feedback{								/*Кнопка заявки*/
		background-color:transparent;
		border:none;
		margin-left:0px;
		padding:5px;
		width:40px;
		margin-right:15px;
	}
	.header_feedback:hover{						/*Ховер эффект кнопки*/
		background-color:transparent;
}
	.header_feedback_icon{						/*Адаптивный svg*/
		display:block;
	}
													/*----------------------КОНЕЦ ХЕДЕРА-------------------------*/
													/*----------top_info_section----------*/
	.item_left_title h1 span{						/*Размер заголовка*/
		font-size:60px;
	}
	.slide_text{									/*Текст слайдов*/
		font-size:18px;
	}
													/*----------client_section----------*/
	.client_section_title{
		font-size:12px;
	}
	.client_scroll{
		height:40px;
	}
	.client_item{
		margin-right:0px;
		min-width:125px;
	}
	.client_scroll{									/*Скроллинг*/
		overflow:hidden;
	}
	.client_scroll::after{
		content:"";
		display:block;
		position:absolute;
		height:40px;
		background-image: linear-gradient(to right, rgba(30, 22, 48, 0), rgb(30, 22, 48) 100%);
		width:70px;
		right:0;
		top:0;
	}
	.client_section_clients{
		width:1024px;
	}
													/*----------activity_section-----------------*/
	.activity_section_title{
		font-size:12px;
	}
	.activity_section_items_wrap{
		margin-right:0px;
		width:100%;
		height:345px;
		margin-bottom:15px;
	}
	.activity_item_title{
		font-size: 35px;
	}
	.activity_section_item_right{			/*Правая колонка*/
		flex-direction:row;
		flex-wrap:wrap;
	}
	.activity_item_right_option{
		width: calc(50% - 15px);
		margin-bottom:15px;
		margin-right:15px;
		padding: 35px;
		border: 1px solid #3B3B46;
		box-sizing:border-box;
		align-items: center;
		flex-basis:auto;
		flex-grow:1;
	}
	.activity_item_right_option br{
		display:none;
	}
	.item_right_more_arrow{
		margin-left:auto;
	}
	.activity_item_right_option:nth-of-type(2){
		margin-right:0px;
	}
	.activity_item_right_option:nth-of-type(3){
		width:49%;
		flex-grow:0;
	}
	.activity_section_item{
		flex-basis:auto;
		max-width:450px;
		flex-grow:1;
	}
	.activity_section_item:first-of-type{
		margin-right:15px;
	}
	.activity_section_item:nth-of-type(2){
		margin-right:0px;
	}
	.activity_section_items{						/*Перенос колонок*/
		flex-wrap:wrap;
	}
	.activity_section_item_right{
		margin-left:0px;
		width: 100%;
	}
												/*-------------projects_section-----------------*/
	.project_item{
		width: calc(33.333% - 5px);
		margin-left:5px;
		margin-bottom:5px;
	}
	.project-1{
		width: calc(66.666% - 5px);
	}
	.project-1,.project-3{
		margin-left:0px;
	}
	.projects_section_title{
		font-size: 12px;
		margin-bottom: 24px;
	}
													/*-------------achivements_section-----------------*/
	.achivement_items_left{
		display:none;
	}
	.achivements_section_title{						/*Заголовок*/
    font-size: 12px;
    margin-bottom: 24px;
	}
	.achivement_items_right{							/*Правые колонки*/
		margin-left:0px;
	}
	.achivement_item_right_title{
		font-size: 24px;
		margin-bottom: 13px;
	}
	.achivement_item_right,.first_achive_item{
		margin-left:0;
	}
	.achivement_item_right{
		margin-bottom:0px;
	}
												/*-------------about_section-----------------*/
	.about_section_title{
		font-size: 12px;
		margin-bottom: 24px;
	}
	.about_item_title-1{								/*Заголовок*/
		margin-bottom: 10px;
		font-size: 35px;
	}
	.about_item_title-2{
		font-size: 25px;
	}
	.video_text svg{								/*Видео*/
		height:120px;
	}
												/*-------------footer_section-----------------*/
	.footer_item_title{							/*Заголовок*/
		display:none;
	}
	.footer-container{
		padding-top:25px;
		padding-bottom:25px;
	}	
}
@media (max-width: 900px){							/*------------------------900px------------------------*/
													/*----------top_info_section----------*/
	.top_info_section_item_right{					/*Размер правой части*/
		width: 290px;
	}
	.project-2_title,.project-3_title,.project-4_title,.project-5_title{
		font-size: 30px;
	}
	.project-1_info{
		padding:0px;
	}
														/*-------------footer_section-----------------*/
	.section_footer{
		flex-wrap:wrap;
		justify-content:center;
	}
	.footer_contacts{
		width:100%;
		justify-content:center;
		margin-bottom: 30px;
	}
	.footer_feedback{								/*Кнопка*/
		height: 45px;
		padding: 0 30px;
		font-size: 12px;
	}
													
}
@media (max-width: 768px){							/*------------------------768px------------------------*/    
	.container{
		padding:0 40px;
	}
	.about-container{										/*Контейнер*/
		padding-top:35px;
	}   
	.achivements_section,.projects_section,.client_section,.activity_section{
		margin-top:80px;
	}
	.header_items{
		height: 70px;
		padding: 0 40px;
	}
													/*----------top_info_section----------*/
	.top_info_section_item_right{					/*Размер правой части*/
		    width: 100%;
			margin-left: 0;
	}
	.top_info_section_items{
		flex-wrap:wrap;
}	
	.top_info_section_item_left{				/*Оформление левой части*/
		width:100%;
		margin-bottom:45px;

	}
													/*------------activity_section----------*/
	.activity_section_items_wrap{
		flex-wrap:wrap;
	}
	.activity_section_items_wrap .activity_section_item{		/*Левая колонка*/
		height:210px;
		max-width: 100%;
		margin-bottom:15px;
		margin-left:0;
		margin-right: 0;
	}
	.activity_section_items_wrap{
		height:auto;
	}
	.activity_section_items_wrap .activity_section_item{
		height:auto;
	}
															/*Правая колонка*/
	.activity_section_item_right .activity_item_right_option{
		width: 100%;
		margin-right:0px;
		flex-grow:1;
	}
											/*-------------projects_section-----------------*/
	.project-1_text{
		display:none;
	}
	.project_item{
		height: 341px;
		width: calc(50% - 5px);
	}
	.project-1{
		flex-wrap: wrap;
		justify-content: center;
		width: calc(50% - 5px);
		padding: 20px;
	}
	.project-1_img img{
		margin:auto;
	}
	.project-1_info{
		padding:0px;
	}
	.project-1_img{
		height: 215px;
		width: 100%;
	}
	.project-5{
		margin-left:0px;
	}
													/*-------------about_section-----------------*/
	.about_section{									/*Левая колонка*/
		flex-wrap:wrap;
	}
	.about_item_left{
		width: 100%;
	}
	.about_item_right{								/*Правая колонка*/
		padding:80px 0px;
		flex-wrap:wrap;
		flex-direction:row;
		align-items:center;
		width:100%;
		margin-left:0px;
	}
	.about_item_title-2{
		width:100%;
	}
	.about_item_right_news{
		width: calc(50% - 15px);
		margin-left: 15px;
		margin-bottom:0px;
	}
	.about_item_right_news:first-of-type{
		margin-left:0px;
		margin-bottom:0px;
	}
												/*-------------footer_section-----------------*/
	.footer_item:not(:last-of-type){
		margin-right: 45px;
	}
	.footer-container{
		padding-top:40px;
		padding-bottom:40px;
	}
}
@media (max-width: 600px){					/*---------------------600px-------------------------*/
	.container{
		padding:0 30px;
	}
	.about-container{										/*Контейнер*/
		padding-top:35px;
		padding-bottom:35px;
	}
	.footer-container{									
		padding-top:20px;
		padding-bottom:20px;
	}	
											/*-------------projects_section-----------------*/
	.project_item{
		width: 100%;
		margin-left: 0;
	}
	.project-1_img{
		max-height:215px;
		height:100%;
		width: 100%;
	}
												/*-------------about_section-----------------*/
	.about_item_right_news{						/*Правая колонка*/
		width: 100%;
		max-width: 100%;
		margin-left: 0;
	}
												/*-------------footer_section-----------------*/
	.about_item_right_news:first-of-type{
		margin-bottom:15px;
	}
	.footer_contacts{
		flex-direction:column;
		align-items:center;
	}
	.footer_item>a{
		font-size:19px;
		font-weight:bolder;
	}
	.footer_item:not(:last-of-type){
		margin-right:0px;
		margin-bottom:16px;
	}
	.about_item_right{
		padding:0px;
		margin-top:50px;
	}
	.social_buttons a{							/*Социальные кнопки*/
		width:27px;
		height:27px;
	}
	.footer-container{
		padding-top:40px;
		padding-bottom:40px;
	}	
}
@media (max-width:480px){					/*---------------------480px-------------------------*/
	.achivements_section,.projects_section,.client_section,.activity_section{
		margin-top:30px;
	}
														/*-------------achivements_section-----------------*/
	.achivement_item_right{							/*Правые колонки*/
		flex-wrap:wrap;
	}
	.achivement_item_right_title{
		font-size: 18px;
	}
	.first_achive_item,.second_achive_item{
		margin-left:0px;
		width:100%;
		padding-bottom:40px;
		margin-bottom:40px;
		border-bottom: 1px solid #3b3b46;
	}
	.achivement_item_right:last-of-type .second_achive_item{
		border-bottom: 0;
	}
}
@media (max-width: 375px){					/*---------------------375px-------------------------*/
	.container{
		padding: 0 25px;
	}
	.about-container{										/*Контейнер*/
		padding-top:20px;
		padding-bottom:20px;
	}
	.footer-container{									
		padding-top:20px;
		padding-bottom:20px;
	}	
	.project_item{
		height: 325px;
	}
}@media (max-width: 320px){					/*---------------------320px-------------------------*/
	.project_item{
		height: 280px;
		padding-top:20px;
	}
	
}

/*---------------------------------------------КОНЕЦ АДАПТАЦИИ САЙТА------------------------------------------------------*/